[user]
	name = Dmytro Somliev
	email = dmytro.somliev@ibm.com
[column]
    ui = auto
[branch]
    sort = -committerdate
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[push]
    default = simple
    autoSetupRemote = true
[fetch]
    prune = true
    all = true
[pull]
	ff = true
[help]
    autocorrect = prompt
[commit]
    verbose = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[status]
	submoduleSummary = true
[core]
    excludesfile = ~/.gitignore_global
[alias]
    co = checkout
    br = branch
    su = --set-upstream origin
    l = "!. ~/dotfiles/githelpers && pretty_git_log"
    lr = "!git l -30"

    la = "!git l --all"
    lra = "!git lr --all"
    lg = "!git l -G $1 -- $2"
[init]
	defaultBranch = main
