[user]
name = "Dmytro Somliev"
email = "somleff@gmail.com"

[template-aliases]
'format_short_id(id)' = 'id.shortest()'

"format_timestamp(timestamp)" = "timestamp.ago()"

[templates]
draft_commit_description ='''
    concat(
      coalesce(description, default_commit_description, "\n"),
      surround(
        "\nJJ: This commit contains the following changes:\n", "",
        indent("JJ:     ", diff.stat(72)),
      ),
      "\nJJ: ignore-rest\n",
      diff.git(),
    )
'''
